*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}
body{
    background: rgb(216, 213, 213);

}
h1{
    margin-left: 30px;
    margin-top: 35px;
    font-weight: bold;
    margin-bottom: 12px;
}
.container h2{
    margin-left: 25px;
}
span{
    color: rgb(56, 56, 221);
    font-weight: 600;
    font-size: large;
    margin-left: 15px;

}
span:hover{
    cursor: pointer;
}
.main{
    background: white;
    /* opacity: 0.7; */
    width: 700px;
    height: 200px;
    margin-left: 35px;
    border-radius: 5px;
    padding-top: 15px;
    
}
i:hover{
    cursor: pointer;
}
.main a{
    margin-left: 40px;
    color: blue;
    padding-top: 10px;
}
.first{
    display: inline-flex;
}
.first span{
    margin-left: 15px;
}
.first h2{
    margin-left: 25px;
}
.main p{
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 35px;
}
.secure,.where, .response, .payments{
    display: inline-flex;
    width: 700px;
    height: 50px;
    background: white;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 35px;
    padding-top: 14px;
}
.where i{
    margin-left: 330px;

}
.response i{
    margin-left: 90px;
}
.payments i{
    margin-left: 160px;
}
.main i{
    margin-right: 20px;
}
.secure i{
    margin-left: 300px;
}
iframe{
    border-radius: 45px;
    margin-right: 20px;
    border-style: none;
}
iframe:hover{
    cursor: pointer;
}
.container{
    display: flex;
}
.head{
    margin-top: 35px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-right: 25px;
}
 /* .fa-solid fa-angle-down{
    margin-left: 650px;
}
     */
     .sub-box{
         display: flex;
         justify-content: space-around;
         padding-top: 10px;
     }
     
     button{
         background: red;
         color: white;
         border-radius: 50px;
         margin-left: 650px;
         height: 50px;
         width: 200px;
         border-style: none;
         cursor: pointer;
         opacity: 0.8;
     }
     .fa{
         color: blue;
     }
     .third div{
         display: flex;
         justify-content: space-between;
         padding: 1px;
         
     }
     .third h3{
         margin-left: 15px;
     }
     .now div{
         display: flex;
     }
     .now p{
         margin-left: 15px;
     }
     .now h3{
         margin-left: 10px;
     }